tgcrypto
pyrogram
flask
gunicorn==20.1.0
psutil
aiosqlite
aiohttp
pytz
aiofiles
beautifulsoup4
lxml
patool
async-timeout==4.0.3
multidict==6.0.4
yarl==1.9.4
frozenlist==1.4.0
aiosignal==1.3.1
attrs==23.1.0
charset-normalizer==3.3.2
psutil==5.9.6
humanize==4.8.0
colorlog==6.8.0
typing-extensions==4.8.0



