tgcrypto
pyrogram
flask
gunicorn==20.1.0
psutil
aiosqlite
aiohttp
pytz
aiofiles
beautifulsoup4
lxml
patool
async-timeout
multidict
yarl
frozenlist
aiosignal
attrs
charset-normalizer
psutil==5.9.6
humanize==4.8.0
colorlog==6.8.0
typing-extensions==4.8.0



