tgcrypto
pyrogram
flask
gunicorn==20.1.0
psutil
aiosqlite
aiohttp
pytz
aiofiles
beautifulsoup4
lxml
patool
async-timeout
multidict
yarl
frozenlist
aiosignal
attrs
charset-normalizer
psutil
humanize
colorlog
typing-extensions



